In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("./NSL-KDD/KDDTrain+.txt", header=None)
df_test = pd.read_csv("./NSL-KDD/KDDTest+.txt", header=None)

In [3]:
df_train

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125968,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.06,0.00,0.00,1.00,1.00,0.00,0.00,neptune,20
125969,8,udp,private,SF,105,145,0,0,0,0,...,0.96,0.01,0.01,0.00,0.00,0.00,0.00,0.00,normal,21
125970,0,tcp,smtp,SF,2231,384,0,0,0,0,...,0.12,0.06,0.00,0.00,0.72,0.00,0.01,0.00,normal,18
125971,0,tcp,klogin,S0,0,0,0,0,0,0,...,0.03,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,20
125972,0,tcp,ftp_data,SF,151,0,0,0,0,0,...,0.30,0.03,0.30,0.00,0.00,0.00,0.00,0.00,normal,21

In [4]:
df_train.shape

(125973, 43)

In [5]:
df_test.shape

(22544, 43)

In [6]:
columns=['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent'
            ,'hot','num_failed_logins','logged_in','num_compromised','root_shell','su_attempted','num_root'
            ,'num_file_creations','num_shells','num_access_files','num_outbound_cmds','is_host_login'
            ,'is_guest_login','count','srv_count','serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate'
            ,'same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count'
            ,'dst_host_same_srv_rate','dst_host_diff_srv_rate','dst_host_same_src_port_rate'
            ,'dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate','dst_host_rerror_rate'
            ,'dst_host_srv_rerror_rate','attack','outcome']

In [7]:
df_train.columns = columns
df_test.columns = columns

In [8]:
df_train['attack'].unique()

array(['normal', 'neptune', 'warezclient', 'ipsweep', 'portsweep',
       'teardrop', 'nmap', 'satan', 'smurf', 'pod', 'back',
       'guess_passwd', 'ftp_write', 'multihop', 'rootkit',
       'buffer_overflow', 'imap', 'warezmaster', 'phf', 'land',
       'loadmodule', 'spy', 'perl'], dtype=object)

In [9]:
len(df_train['attack'].unique())

23

In [10]:
def class_classify(data):
    output = []
    dos_check = ["back","land","neptune","pod","smurf","teardrop"]
    r2l_check = ["ipsweep","nmap","portsweep","satan"]
    u2r_check = ["buffer_overflow","loadmodule","perl","rootkit"]
    probe_check = ["ftp_write","guess_passwd","imap","multihop","phf","Snmpgetattack","spy","warezmaster"]

    for i in range(len(data)):
        
        if data.iloc[i]['attack'] in dos_check:
            output.append('Dos')
            
        elif data.iloc[i]['attack'] in r2l_check:
            output.append('R2L')
            
        elif data.iloc[i]['attack'] in u2r_check:
            output.append('U2R')
            
        else:
            output.append('Probe')
            
    return output

In [ ]:
classs = class_classify(df_train)
df_train['class'] = classs

In [ ]:
classs = class_classify(df_test)
df_test['class'] = classs

In [ ]:
df_train

In [ ]:
df_test