In [1]:
import pandas as pd

In [5]:
dtotal=pd.read_csv('prun_train_dataset.csv')
dtotal_columns=dtotal.columns.tolist()
if "Unnamed: 0" in dtotal_columns:
    dtotal=dtotal.drop(['Unnamed: 0'], axis=1)

print(dtotal)

      user_gender                                            comment
0            Male                                  1person .  guy .
1          Female                                 1person .  miss .
2            Male  1person beard closeup .  lunch .  man shit .  ...
3            Male  it look like that .  look there dog btw .  nic...
4          Female                                                NaN
...           ...                                                ...
31995      Female            tree night sky plant outdoor .  tree .
31996      Female  2people .  really man definitely good look .  ...
31997      Female  1person closeup .  makeup .  girl all .  shit ...
31998      Female           1person smiling selfie closeup indoor .
31999      Female                                                NaN

[32000 rows x 2 columns]

In [8]:
labeled_data = dtotal[['user_gender', 'comment']][dtotal['user_gender'] != 'none']

female_labeled_data = labeled_data[labeled_data['user_gender'] == 'Female'].reset_index(drop=True)
male_labeled_data = labeled_data[labeled_data['user_gender'] == 'Male'].reset_index(drop=True)

male_labeled_data

      user_gender                                            comment
0            Male                                  1person .  guy .
1            Male  1person beard closeup .  lunch .  man shit .  ...
2            Male  it look like that .  look there dog btw .  nic...
3            Male  like fucked life .  u0001f602 awesome .  reall...
4            Male  oneormorepeople .  to .  yes that .  water .  ...
...           ...                                                ...
15995        Male      man kid love style .  alot u0001f602 .  it .
15996        Male  shit .  like life .  seems .  people .  fuckin...
15997        Male  2people people smiling people standing .  pict...
15998        Male                    3people beard indoor .  wish .
15999        Male  1person .  good u0001f609 .  dad really .  rea...

[16000 rows x 2 columns]

In [22]:
def allinone(self, jj):
        """This function takes as input each user picture metadata and
           calls cooccurrence_matrix, oneromcom, twogramscom, threegramscom to extract the features 
           inside the picture.

        Parameters
        ----------
        jj: str (the user picture metadata)
        """
        list_of_all_features=[]
        Comments_number = []
        vector_word_all = []
        word_all = []
        words12 = []
        words = []
        if type(jj) is not list:
            comments_set=jj.split(".")

        if type(jj) is list:
            comments_set=jj

        words1=[]
        jj1=jj.replace(".","")
        for comment in comments_set:
            if len(comment.strip())>0:
                comment=[comment.strip()]
    #             print (comment.type())
                try:
                    newonecom=self.onegramcom(comment)
                    for newchecker in newonecom:
                        if newchecker[0]!="''":
                            words1.append(newchecker)
                except Exception as e:
                    print( e)
                    pass
                try:
                    newonecom2=self.threegramscom(comment)
                    for newchecker in newonecom2:
                        if len(newchecker[0])>0:
                            words1.append(newchecker)      
                except:
                    pass


    #             if len_sent==2:
                # try:
                #     newonecom1=self.twogramscom(comment)
                #     for newchecker in newonecom1:
                #         if len(newchecker[0])>0:
                #             words1.append(newchecker)
                # except:
                #     pass
    #             else:
        try:
            vocabs,co_occ=self.cooccurrence_matrix(jj1)
            df_co_occ  = pd.DataFrame(co_occ.todense(),index=vocabs.keys(),columns = vocabs.keys())
            # Extract values and row, column names
            arr = df_co_occ.values
            index_names = df_co_occ.index
            col_names = df_co_occ.columns
            #  Get indices where such threshold is crossed; avoid diagonal elems
            R,C = np.where(np.triu(arr,1)>0)
            # Arrange those in columns and put out as a dataframe
            out_arr = np.column_stack((index_names[R],col_names[C],arr[R,C]))
            for i in out_arr:
                i1=i[0], i[1]
                i1=str(i1)
                i1=i1.replace("', '", " ").replace("'","").replace("(","").replace(")","")
                i2=int(i[2])
                words1.append((i1,i2))
        except:
            pass   
        return words1

In [32]:
def featureselector(dffemale, second_el, thr):  
        """This function takes as input 3 parameters, and it calls allinone, feature_extractor function
           to handle features. The output is the set of most appeared features in each dataset.

        Parameters
        ----------
        dffemale: pandas DataFrame (the dataset that we generated for female and male separately)
        second_el: list (an empty list to save emale and male features separately)
        thr: int (filter the features that appear below threshold)
        """   
        dffemale=dffemale.dropna()
        dffemale=dffemale.reset_index(drop=True)
        wordsfemale=[]
        for i in range(len(dffemale)):
            wordsfemale.append(allinone(dffemale.comment[i]))
        words1dictfemale=feature_extractor(wordsfemale)
        Keyword=[]
        Frequency=[]
        for k,v in words1dictfemale.items():
            Keyword.append(k)
            Frequency.append(v)
        top_dfemale = pd.DataFrame({"Keyword": Keyword, "Frequency":Frequency})
        FtopF1=top_dfemale.loc[top_dfemale['Frequency']>thr, ['Keyword', 'Frequency']].values
        for i in FtopF1:
            wordi1=i[0]
            second_el.append(wordi1)
        return second_el

In [33]:
FtopF1list=[]
hfemale=featureselector(female_labeled_data,FtopF1list,100)

TypeError: allinone() missing 1 required positional argument: 'jj'